<!doctype html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="/Webnewss/assets/css/style-footer.css">
</head>

<body>

    <footer class="footer-content">
        <section style="height: 253px;">
            <ul class="col main-col">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Ảnh</a></li>
                <li style="padding-bottom: 10px;"><a href="#">Infographics</a></li>
                <li style="padding-top: 10px; border-top:  1px solid #BDBDBD;"><a href="#">Mới nhất</a></li>
                <li><a href="#">Xem nhiều</a></li>
                <li><a href="#">Tin nóng</a></li>
            </ul>
            <ul class="col c1">
                <li><a href="#">Thời sự</a></li>
                <li><a href="#">Góc nhìn</a></li>
                <li><a href="#">Thế giới</a></li>
                <li><a href="#">Kinh doanh</a></li>
                <li<a href="#">Giải trí</a></li>
            </ul>
            <ul class="col c2">
                <li><a href="#">Thể thao</a></li>
                <li><a href="#">Pháp luật</a></li>
                <li><a href="#">Giáo dục</a></li>
                <li><a href="#">Sức khỏe</a></li>
                <li><a href="#">Đời sống</a></li>
                <li><a href="#">Du lịch</a></li>
            </ul>
            <section class="col c3">
                <section class="zoneInf">
                    <p>Tải ứng dụng</p>
                    <button class="but-1">VnExpree</button>
                    <button class="but-1">International</button>
                </section>
                <section class="zoneInf">
                    <p>Liên hệ</p>
                    <button class="but-2">Tòa soạn</button>
                    <button class="but-2">Quảng cáo</button>
                </section>
                <section class="contact">
                    <p>Đường dây nóng</p>
                    <section>
                        <h1>3333.3333</h1>
                        <p>(Hồ Chí Minh)</p>
                    </section>
                    <section class="cont-right">
                        <h1>2222.2222</h1>
                        <p>(Hà Nội)</p>
                    </section>
                </section>
            </section>
        </section>
        <section class="footer-bottom">
            <p>© 1997-2021. Toàn bộ bản quyền thuộc VnExpress</p>
        </section>
    </footer>
</body>

</html>